node_modules
dist
.next
coverage
build
typechain-types
.eslintrc.js
commitlint.config.js
zkeys
packages/subgraph/generated
packages/interface/playwright/fixtures.ts
packages/interface/playwright.config.ts
packages/interface/playwright-report
packages/interface/test-results
packages/interface/next.config.js
packages/interface/public/mockServiceWorker.js
packages/interface/metamask/

