{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-solidity"],
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all"
}
